.main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: #2828304d;
  backdrop-filter: blur(6px);
  border: 2px;
  border-color:#F5A9B8;
  border-style: solid;
  border-radius: 10px;
  padding: 8px 36px 8px 36px;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-justify: left;
}