.card {
  width: 30vw;
  height: fit-content;
  color: white;
  border: 2px;
  border-color:#F5A9B8;
  border-style: solid;
  border-radius: 10px;
  margin: 0 8px 0 8px;
  padding: 4px;
}


.container {
  display: flex;
  align-content: space-around;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}