---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="ngallant.dev">
	<main class="main">
		<div class="center">Hi, I'm <span class="name">Nat</span>
      <p class="text">I'm a developer with a penchant for silly projects using Go and OpenGL</p>
      <p class="text">You've found my Work-In-Progress site which I am building using Astro and either SolidJS or VueJs</p>
      <p class="text">For now, if you like, check out my github profile!</p>
      <a class="anchor" href="https://github.com/natty-light">
        <div>github.com/natty-light</div>
      </a>
    </div>

	</main>
</Layout>

<style>
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2828304d;
  backdrop-filter: blur(6px);
  border-radius: 12px;
	padding: 5% 15% 5% 15%;
  width: fit-content;
  height: fit-content;
  color: white;
  z-index: 3;
}
	.name {
		color: #F5A9B8;
	}
  
  .text {
    color: white;
  }

  .anchor {
    color: #F5A9B8;
  }
</style>
