---
import Layout from '../layouts/Layout.astro';
import CardCarousel from '../components/CardCarousel';
import Island from '../components/Island';
import Footer from '../components/Footer';
import type { ButtonProps, ProjectCardProps } from '../types';

const buttons: ButtonProps[] = [
  {
    link: 'https://github.com/natty-light',
    content:'Link to My Github',
  },
  {
    link: 'https://www.linkedin.com/in/nat-gallant-0b0b40234/',
    content: 'Link to My LinkedIn',
  }
]

const projectCards: ProjectCardProps[] = [
  {
    link: 'https://github.com/natty-light/life',
    description: `Conway's Game of Life implemented in Golang using OpenGL`,
    title: 'Life',
    buttonText: 'Github Repository'
  },
  {
    link: 'https://github.com/natty-light/quonkLang',
    description: `A BrainF**k inspired Esolang to help geese and ducks to learn to code`,
    title: 'QuonkLang',
    buttonText: 'Github Repository'
  },
  {
    link: 'https://github.com/natty-light/brickgl',
    description: `A study in targeting OpenGL directly in Golang`,
    title: 'BrickGL',
    buttonText: 'Github Repository'
  },
  {
    link: 'https://github.com/natty-light/pong',
    description: 'A pong clone implemented in C++ using OpenGL',
    title: 'Pong by Nat :)',
    buttonText: 'Github Repository'
  }
]
---

<Layout title="ngallant.dev">
	<div class="main">
		<div class="left">
      <Island client:load />
      <Footer client:load buttons={buttons} header="my links"/>
    </div>
    <div class="right">
      <CardCarousel client:load cards={projectCards} header={"my projects"}/>
    </div>
	</div>
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: black;
    width: 100vw;
    height: 80vh;
    z-index: 0;
  }
 
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 8px 8px;
    width: 60vw;
    height: 60vh;
    color: white;
    z-index: 0;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 8px 8px 8px;
    width: fit-content;
    height: fit-content;
    min-height: 60%;
    color: white;
    z-index: 0;
  }

  .icon {
    color: #F5A9B8;
  }

  @media (max-width: 1100px) {
    .main {
      flex-direction: column;
      height: fit-content;
    }
    .right {
      margin-top: 4px;
    }

    .footer {
      flex-wrap: wrap;
    }
  }
</style>
